# Core functionality - changes here should be rare!
/src/app.py                   @jbkellogg
/src/backend/database.py      @jbkellogg
/src/backend/routers/auth.py  @jbkellogg

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jbkellogg
